<p><input type="text" name="first name" value=""  id="register-firstName" placeholder="First Name" /></p>
<p><input type="text" name="last name" value="" id="register-lastName" placeholder="Last Name" /></p>
<p><input type="text" name="email" value="" id="register-email" placeholder="Email Address" /></p>	
<p><input type="text" name="username" value="" id="username" placeholder="Username" /></p>	
<p><input type="text" name="password" value="" id="password" placeholder="Password" /></p>
				
<button id="opener-register">Sign Up</button>