/*-----------------------Meyer's Rest--------------------------------------------------------*/
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}



/*-------------------Web Font kit--------------------*/

@font-face {
    font-family: 'nexa_boldregular';
    src: url('nexaBoldFont/Nexa_Free_Bold-webfont.eot');
    src: url('nexaBoldFont/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexaBoldFont/Nexa_Free_Bold-webfont.woff') format('woff'),
         url('nexaBoldFont/Nexa_Free_Bold-webfont.ttf') format('truetype'),
         url('nexaBoldFont/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('nexaLightFont/Nexa_Free_Light-webfont.eot');
    src: url('nexaLightFont/Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexaLightFont/Nexa_Free_Light-webfont.woff') format('woff'),
         url('nexaLightFont/Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('nexaLightFont/Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


	
/*--------------Header CSS: Logo, media links, and Navigation---------*/

header{
	width: 1060px;
	margin: 0 auto;	
	margin-top: 20px;
}

header h1{
	width: 270px;
	height: 95px;
	font-size: 25px;
	padding-top: 20px;
	background-image:url(../img/seenItLogo.png);
	background-repeat: no-repeat;
	float: left;	
}

#bold{
	font-weight: bolder;
	color: #e67e22;
}

header h1 span{
	display: none;
}

header a:active{
	color: #e67e22;
}

header .media {
	margin-left: 846px;
	margin-right: 0px;
	list-style: none;
}

header .media li{
	display: inline;
}

header .media img{
	width: 30px;
	height: 30px;
	padding-left: 8px;	
}

nav {
	padding-top: 40px;
	margin-left: 475px;
	width: 500px;
	font-size: 30px;
	font-family: 'nexa_lightregular', Arial, sans-serif;
	text-align: center;
}

nav ul{
	height: auto;
}

nav li{
	display: inline;
	padding-left: 20px;
}

nav a{
	text-decoration: none;
	color: #f39c12;
}

nav a:hover{
	color: #e67e22;
}

/*-----------CTA with Slogan, top movies, become a member button, and sponsor------*/

.wrapper{
	width: 1060px;
	margin: 0 auto;	

}

.wrapper h3{
	margin-top: 80px;
	margin-bottom: 10px;
	margin-left: 150px;
	font-size: 26px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	color: #2980b9;
}

.wrapper ul{
	width: 960px;
	margin-bottom: 50px;
}

.wrapper ul li {
	display: inline;
	padding-left: 20px;
	position: relative;
}

.wrapper h9{
	position: relative;
	top: 50%;
	left: 40%;
	margin-top: -50px;
	margin-left: -100px;
	width: 500px;
	height: 60px;
	background-color: #f39c12;
	border: #f39c12;
	padding: 30px 30px 20px 30px;
	font-family: 'nexa_boldregular', Arial, sans-serif;

}

.wrapper h9 a{
	font-size: 30px;
	color: #fff;
	text-decoration: none;
}


.wrapper h6{
	margin-left: 768px;
	margin-top: -70px;
}

.wrapper h6{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	color: #2980b9;
}

/*---------------Submenu: Features & 2nd CTA--------------*/

#features {
	margin-top: 35px;
	background-color: #2c3e50;
	padding: 50px;
	color: #fff;
}

#features h2{
	font-size: 30px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
}

#features article p{
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}

#features article{
	width: 225px;
	float: left;
	padding-right: 30px;
	padding-top: 80px;
	padding-bottom: 20px;
}

#features h2{
	padding-left: 90px;
	padding-bottom: 40px;
}

#features h3{
	padding-top: 20px;
	clear: left;
	font-size: 30px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	margin-left: 25%;
	color: #fff;
}

#features h3 a{
	text-decoration: none;
	color: #f39c12;
}

#features h3 a:hover{
	text-decoration: underline;
	color: #e67e22;
}

/*---------------Footer: links and copyright information-------------------*/

footer{
	background-color: #3498db;
}

.wrapper div{
	width: 200px;
	padding-right: 10px;
	float: left;
	padding-top: 50px;
	padding-bottom: 50px;
	
}

.wrapper div ul{
	display: inline;
	text-decoration: none;
	
}

.wrapper div ul li{
	text-decoration: none;
	padding-left: 0px;
	font-family: 'Lato', sans-serif;
}

.wrapper div ul li a{
	text-decoration: none;
	color: #2c3e50;
}

.wrapper div ul #blue{
	color: #2c3e50;
}

.wrapper div ul li #email{
	color:	#fff;
	padding-left: 6px;
	padding-right: 16px;	
}

.wrapper h5{
	color: #2c3e50;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	
}

footer p{
	background-color: #2980b9;
	padding: 20px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	clear: left;
}

/*-------------------------Sign Up Page-------------------*/

.signup h2{
	width: 300px;
	font-size: 35px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	margin-top: 80px;
	margin-bottom: 30px;
	color: #3498db;
}

.signup h4{
	width: 600px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: #2c3e50;
	border: 2px #ecf0f1 solid;
	border-radius: 2px 2px 2px;
	background-color: #ecf0f1;
	padding: 10px;
	margin-bottom: 30px;	
}



.signup form input{
	padding: 10px 10px 10px 50px;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 550px;
	border: 2px solid #2c3e50;
	background-color: #ecf0f1;
	color: #16a085;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
}

.signup form input[name="first name"]{
	width:236px;
}

.signup form input[name="last name"]{
	width: 236px;
}

.signup h5{
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 24px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	color: #2c3e50;
}

.signup .radio{
	width: 10px;
	float: left;
	padding-top: 5px;
	padding-right: 20px;
}

.signup p {
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 30px;
}

.signup p a{
	color: #3498db;
}

.signup h1{
	width: 150px;
	font-size: 28px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	padding: 15px;
	text-align: center;
	background-color: #f39c12;
	margin-left: 431px;
	margin-bottom: 100px;
}

.signup h1 a{
	padding: 10px;
	text-decoration: none;
	color: #fff;
}

.signup section{
	width: 300px;
	float: right;
	margin-left: 20px;
	margin-top: 70px;
}

.signup h7{
	width: 190px;
	font-size: 24px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	text-align: center;
	background-color: #1abc9c;
	color: #fff;
	padding: 10px 20px 10px 20px;
	border-radius: 5px 5px 0 0;
	margin: 0px;
}

.signup section ul{
	list-style-type:none;
	width: 215px; 
	background-color: #2c3e50;
	padding: 20px 4px 20px 7px;
	border-radius: 0 0 5px 5px; 
}

.signup section ul li{
	display:block;
	padding: 14px;
	text-align: center;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: #fff;		
}


/*---------------About-----------------*/

.about h1{
	width: 250px;
	text-align: left;
	font-size: 35px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	color: #fff;
	background-color: #1abc9c;
	padding: 20px 670px 20px 40px;
	margin: 150px 50px 0px 0px;
	border-radius: 5px 5px 0 0;
}

.about p{
	font-size: 18px;
	font-family: 'nexa_lightregular', Arial, sans-serif;
	width: 800px;
	padding: 80px 120px 120px 40px;
	background-color: #2c3e50;
	margin-bottom: 100px;
	color: #fff;
	border-radius: 0 0 5px 5px;
}


/*-------------------Contact---------------*/

.contact h2{
	width: 250px;
	text-align: left;
	font-size: 35px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	color: #3498db;
	margin: 80px 50px 50px 0px;
	/*background-color: #1abc9c;
	padding: 20px 670px 20px 40px;
	border-radius: 5px 5px 0 0;*/
}

.contact section{
	width: 400px;
	float: right;
}


.contact section h7{
	width: 250px;
	text-align: left;
	font-size: 25px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	color: #fff;
	background-color: #1abc9c;
	padding: 10px 30px 10px 20px;
	border-radius: 0 5px 0 0;
}

.contact section ul{
	list-style-type: none;
	text-decoration: none;
	padding-top: 100px;
	padding-bottom: 367px;
	background-color: #2c3e50;
	border-radius: 0 0 5px 0;
	width: 184px;
}

.contact section ul li{
	display:block;
	padding: 40px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	text-align: center;
	
}

.contact section ul li a{
	text-decoration: none;
	color: #fff;
}

.contact h7{
	width: 250px;
	text-align: left;
	font-size: 25px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	color: #fff;
	background-color: #1abc9c;
	padding: 10px 515px 10px 20px;
	border-radius: 5px 0 0 0;
}

.contact form{
	padding-top: 80px;
	padding-bottom: 50px;
	margin-bottom: 100px;
	text-align: center;
	background-color: #2c3e50;
	border-radius: 0 0 0 5px;
	width: 654px;
}

.contact form input{
	padding: 10px 20px 10px 50px;
	margin-bottom: 20px;
	width: 400px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	background-color: #ecf0f1;
	border: 2px solid #2c3e50;
	color: #16a085;
}

.contact form textarea{
	padding: 10px;
	width: 450px;
	height: 300px;
	margin-bottom: 20px;
	background-color: #ecf0f1;
	border: 2px solid #2c3e50;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: #16a085;
}


.contact h3{
	background-color: #f39c12;
	width: 411px;
	text-align: center;
	padding: 30px;
	margin: 0 0 0 92px;
	position: relative;
}

.contact h3 a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
}


/*--------------Dashboard-------------*/


.menu section{
	float: right;
	width: 200px;
	padding-right: 400px;
	
}

.menu section img{
	float: left;
	padding: 20px;
	}

.menu section h4{
	font-family: 'nexa_boldregular', Arial, sans-serif;
	font-size: 25px;
	color: #2980b9;
}

.menu section h3{
	font-family: 'nexa_boldregular', Arial, sans-serif;
	color: #2980b9;
	font-size: 20px;
	width: 400px;
	border-bottom: 2px solid #2c3e50;
	text-align: center;
	margin-left: -100px;
}

.menu .stat-list{
	float: left;
	padding: 20px;
	width: 100px;
	margin-top: 50px;
	list-style-type: none;
}

.menu .stat-list li{
	padding-bottom: 40px;
}

.menu ul{
	width: 170px;
	margin-top: 80px;
	background-color: #2c3e50;
	color: #fff;
	border-radius: 5px 5px 5px 5px;
	font-family: 'nexa_boldregular', Arial, sans-serif;
	font-size: 20px;
	
}

.menu ul li{
	display: block;
	padding: 15px;
}

.menu ul li:hover{
	display: block;
	width: 150px;
	color: #2c3e50;
	height: 20px;
	padding: 20px;
	background-color: #1abc9c;
}

.menu ul #focus{
	display: block;
	width: 150px;
	color: #2c3e50;
	height: 20px;
	padding: 20px;
	background-color: #1abc9c;
}
